<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand text-light"><b>Office<span class="text-primary">Collaboration</span></b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Register</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main class="login-form p-4">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8 p-5 ">
                    <div class="card">
                        <div class="card-header">Register</div>
                        <div class="row border rounded-lg">
                            <div class="col col-md-8 mx-auto bg-gradient-info" >
                                <select class="custom-select" id="role" [(ngModel)]="selectRole">
                                    <option *ngFor="let opt of role" [value]="opt">{{ opt }}</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div class="card-body">
                            <form [formGroup]="loginReactiveForm" (ngSubmit)="onSubmit()">
                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                        Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" name="email-address"
                                            autofocus formControlName="email">
                                        <small class="text-danger"
                                            *ngIf="!this.loginReactiveForm.get('email').valid && this.loginReactiveForm.touched">email
                                            id is incorrect!</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password"
                                            formControlName="password">
                                        <small class="text-danger"
                                            *ngIf="!this.loginReactiveForm.get('password').valid && this.loginReactiveForm.touched">password
                                            is incorrect!</small>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6 offset-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="remember"> Remember Me
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                    <a href="#" class="btn btn-link">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>