<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
        <!-- sidebar end -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- header -->
                <app-header></app-header>
                <!-- header end -->
                
                <!-- home content -->
                <!-- <app-home></app-home> -->
                <!-- <router-outlet></router-outlet> -->
                <!-- home content end -->
            </div>
            <!-- Main Content end -->
        </div>
        <!-- Content wrapper -->
    </div>
    <app-footer></app-footer>
    <!-- page wrapper end -->
</body>