<!-- Topbar Search -->

<div class="row">
    <div class="col-6">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="nameSearch">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">SR.No.</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody *ngFor="let record of empRecords | filter:nameSearch ;index as i ">
        <tr>
            <th scope="row">{{record.id}}</th>
            <td>{{i+1}}</td>
            <td>{{record.name}}</td>
            <td>{{record.email}}</td>
            <td>
                <div class="mx-auto">
                    <!-- view button -->
                    <i class="far fa-eye  btn btn-primary   btn fa-3x" data-toggle="modal"
                        [attr.data-target]="'#viewmore-' + i"></i>
                    <!-- edit button -->
                    <i class="fas fa-edit fa-2x  btn btn-warning mx-2" data-toggle="modal"
                        [attr.data-target]="'#update-' + i"></i>
                    <!-- delete button -->
                    <i class="fas fa-trash-alt fa-2x btn btn-danger " data-toggle="modal"
                        [attr.data-target]="'#delete-' + i"></i>
                </div>
            </td>

        </tr>
        <!-- Modal -->
        <div class="modal fade " id="viewmore-{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee View Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--! model body -->
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter_Employee Name" disabled
                                        value="{{record.name}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Reporting Manager</label>
                                    <input type="text" class="form-control" value="{{record.reporting_manager}}"
                                        disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" value="{{record.email}}" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" value="{{record.password}}" disabled>
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label for="inputDesignation">Designation</label>
                                    <input type="text" class="form-control" placeholder="Enter Designation"
                                        value="{{record.designation}}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputBand">Band</label>
                                    <input type="text" class="form-control" placeholder="Apartment, studio, or floor "
                                        value="{{record.band}}" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputAllocatedProject">Allocated Project</label>
                                    <input type="text" class="form-control" placeholder="Enter Allocated Project "
                                        value="{{record.allocate_project}}" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal update -->
        <div class="modal fade " id="update-{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Update Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--! model body -->
                        <form #updateForm='ngForm'>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter_Employee Name" disabled
                                        [(ngModel)]="record.name" ngModel name="emp_name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Reporting Manager</label>
                                    <input type="text" class="form-control" [(ngModel)]="record.reporting_manager "
                                        ngModel name="emp_reporting_manager">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="" [(ngModel)]="record.email" disabled
                                        ngModel name="emp_email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" [(ngModel)]="record.password" disabled
                                        ngModel name="emp_password">
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label for="inputDesignation">Designation</label>
                                    <input type="text" class="form-control" placeholder="Enter Designation"
                                        [(ngModel)]="record.designation" ngModel name="emp_designation" placeholder="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputBand">Band</label>
                                    <input type="text" class="form-control" placeholder="Apartment, studio, or floor "
                                        [(ngModel)]="record.band" ngModel name="emp_band">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputAllocatedProject">Allocated Project</label>
                                    <input type="text" class="form-control" placeholder="Enter Allocated Project "
                                        [(ngModel)]="record.allocate_project" name="emp_allocate_project" ngModel>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" (click)="isChecked()">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            (click)="updateEmpData(updateForm,record.id)" [disabled]="checkFlag">Save Changes</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- update modal end -->

        <!-- delete modal -->
        <div class="modal fade" id="delete-{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are You sure Want to delete this record
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id='delete-close-{{i}}'>Close</button>
                        <button type="button" class="btn btn-danger"
                            (click)="deleteEmpData(i,record.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete modal end -->
    </tbody>
</table>